[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"

[packages]
colorama = "*"

[requires]
python_version = "3.6"

[scripts]
deploy = "npx sls deploy --aws-profile personal"
test = "pytest tests/"
style = "flake8 hello/"
